rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Allow public to view episodes and RSS
    match /episodes/{allPaths=**} {
      allow read: if true;
      // Only allow users with admin custom claim to upload
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /public/{allPaths=**} {
      allow read: if true;
    }
    // Allow public to view article images, admins to upload
    match /articles/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
  }
}
